body {
	 margin: 50px 0; 
}

h3 {
  padding: 10px 0;
  font-size: 30px;
    
}

img {
  width: 300px;
}

p, ul {
  line-height: 25px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.container {
  width: 300px;
  margin: 0 auto;
  border: 1px solid #C0C0C0;
  padding: 0 20px;
  box-shadow: 8px 8px #D3D3D3;
  border-radius: 8px;
}

.about-peacock {
  border: 1px solid #C0C0C0;
  border-radius: 8px;
  padding: 5px 20px 30px 20px;
  margin: 20px 0;
}

.text-italics {
  font-style: italic;
}

.text-bold {
  font-weight: bold;
}